@model MvcStok.Models.Entity.TblSatislar
@{
    ViewBag.Title = "SatisGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var musteriAdSoyad = Model.TblMusteri.MusteriAd + " " + Model.TblMusteri.MusteriSoyad;
}

@*<h2>SatisGetir</h2>*@
@using (Html.BeginForm("SatisGuncelle", "Satis", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.SatisId)
        @Html.TextBoxFor(m => m.SatisId, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.LabelFor(m => m.TblUrunler.UrunAd)
        @*@Html.TextBoxFor(m => m.TblUrunler.UrunAd, new { @class = "form-control" })*@
        @Html.DropDownListFor(m => m.TblUrunler.UrunId, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => musteriAdSoyad)
        @*@Html.TextBoxFor(m => musteriAdSoyad, new { @class = "form-control" })*@
        @Html.DropDownListFor(m => m.TblMusteri.MusteriId, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })

        <br />
        @Html.LabelFor(m => m.Adet)
        @Html.TextBoxFor(m => m.Adet, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Fiyat)
        @Html.TextBoxFor(m => m.Fiyat, new { @class = "form-control" })

    </div>
    <div>
        <button class="btn btn-warning">Satis Güncelle</button>
    </div>




}


